reportsServer:
  enabled: true
crds:

  # -- Whether to have Helm install the Kyverno CRDs, if the CRDs are not installed by Helm, they must be added before policies can be created
  install: true

  reportsServer:
      # -- Kyverno reports-server is used in your cluster
    enabled: true

  groups:

    # -- Install CRDs in group `kyverno.io`
    kyverno:
      cleanuppolicies: true
      clustercleanuppolicies: true
      clusterpolicies: true
      globalcontextentries: true
      policies: true
      policyexceptions: true
      updaterequests: true

    # -- Install CRDs in group `policies.kyverno.io`
    policies:
      validatingpolicies: true
      policyexceptions: true
      imagevalidatingpolicies: true
      namespacedimagevalidatingpolicies: true
      mutatingpolicies: true
      namespacedmutatingpolicies: true
      generatingpolicies: true
      deletingpolicies: true
      namespaceddeletingpolicies: true
      namespacedvalidatingpolicies: true

    # -- Install CRDs in group `reports.kyverno.io`
    reports:
      clusterephemeralreports: true
      ephemeralreports: true

    # -- Install CRDs in group `wgpolicyk8s.io`
    wgpolicyk8s:
      clusterpolicyreports: true
      policyreports: true

  # -- Additional CRDs annotations
  annotations: {}
    # argocd.argoproj.io/sync-options: Replace=true
    # strategy.spinnaker.io/replace: 'true'

  # -- Additional CRDs labels
  customLabels: {}

  migration:

    # -- Enable CRDs migration using helm post upgrade hook
    enabled: true

    # -- Resources to migrate
    resources:
      - cleanuppolicies.kyverno.io
      - clustercleanuppolicies.kyverno.io
      - clusterpolicies.kyverno.io
      - globalcontextentries.kyverno.io
      - policies.kyverno.io
      - policyexceptions.kyverno.io
      - updaterequests.kyverno.io
      - deletingpolicies.policies.kyverno.io
      - generatingpolicies.policies.kyverno.io
      - imagevalidatingpolicies.policies.kyverno.io
      - namespacedimagevalidatingpolicies.policies.kyverno.io
      - mutatingpolicies.policies.kyverno.io
      - namespacedmutatingpolicies.policies.kyverno.io
      - namespaceddeletingpolicies.policies.kyverno.io
      - namespacedvalidatingpolicies.policies.kyverno.io
      - policyexceptions.policies.kyverno.io
      - validatingpolicies.policies.kyverno.io

    image:
      # -- (string) Image registry
      registry: ~
      defaultRegistry: reg.kyverno.io
      # -- (string) Image repository
      repository: kyverno/kyverno-cli
      # -- (string) Image tag
      # Defaults to appVersion in Chart.yaml if omitted
      tag: ~
      # -- (string) Image pull policy
      pullPolicy: IfNotPresent

    # -- Image pull secrets
    imagePullSecrets: []
    # - name: secretName

    # -- Security context for the pod
    podSecurityContext: {}

    # -- Node labels for pod assignment
    nodeSelector: {}

    # -- List of node taints to tolerate
    tolerations: []

    # -- Pod anti affinity constraints.
    podAntiAffinity: {}

    # -- Pod affinity constraints.
    podAffinity: {}

    # -- Pod labels.
    podLabels: {}

    # -- Pod annotations.
    podAnnotations: {}

    # -- Node affinity constraints.
    nodeAffinity: {}

    # -- Security context for the hook containers
    securityContext:
      runAsUser: 65534
      runAsGroup: 65534
      runAsNonRoot: true
      privileged: false
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault

    podResources:
      # -- Pod resource limits
      limits:
        cpu: 100m
        memory: 256Mi
      # -- Pod resource requests
      requests:
        cpu: 10m
        memory: 64Mi

    serviceAccount:
      # -- Toggle automounting of the ServiceAccount
      automountServiceAccountToken: true