apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nvidia                 # Namespace to deploy to

resources:
  # - address-pool.yaml                  # List of manifests to apply, if any

helmCharts:
  - name: gpu-operator                # Chart name from the repo
    releaseName: gpu-operator        # Name for resources
    repo: https://helm.ngc.nvidia.com/nvidia           # URL of repo
    # valuesFile: values-overlay.yaml    # ONLY the values we want to override
    version: "v25.10.1"                 # Chart version from the repo 