apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: loki                 # Namespace to deploy to

resources:
  # This creates a Cilium policy for promtail and grafana to communicate to Loki
  - allow-promtail-to-loki.yaml
  - allow-grafana-to-loki.yaml              

helmCharts:
  - name: loki-stack                # Chart name from the repo
    releaseName: loki-stack        # Name for resources
    repo: https://grafana.github.io/helm-charts           # URL of repo
    valuesFile: values-overlay.yaml    # ONLY the values we want to override
    version: 2.10.3                 # Chart version from the repo 
